body{
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
}

.animated-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
    position: relative;
}

span {
  display: block;
  width: 100%;
  white-space: nowrap;
}

.animated-text span::before{
    content: "Youtuber";
    color: #fff950;
    animation: words 20s infinite;
}

.animated-text span::after{
    content: "";
    position: absolute;
    width: calc(100% + 4px);
    height: 100%;
    background-color: #000000;
    border-left: 2px solid #ffcd50;
    right: -10px;
    animation: cursor .8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to{
        border-left: 4px solid #ff7f5000;
    }
}

@keyframes words {
    0%,20%{
        content: " que tengas un día genial";
    }
    21%,40%{
        content: " que te vaya bien en tus clases";
    }
    41%,60%{
        content: " y en la cita con tu mamá";
    }
    61%,80%{
        content: " almuerza temprano";
    }
    81%,100%{
        content: " y fin xd";
    }
}

@keyframes typing {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    }
}

